*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App {
	font-family: Roboto, sans-serif;
	line-height: 1.5;
	width: 50rem;
}

.post {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem;
	margin-top: 1rem;
	border: 0.15rem solid teal;
}

.post-enter {
	transform: translateX(-30rem);
	opacity: 0.6;
}
.post-enter-active {
	transform: translateX(0rem);
	transition: all 500ms ease-in;
}
.post-exit {
	opacity: 0.6;
}
.post-exit-active {
	transform: translateX(-30rem);
	transition: all 500ms ease-in;
}

.page__wrapper {
	margin-top: 2rem;
	display: flex;
}

.page {
	padding: 0.5rem;
	margin: 0.1rem;
	border: 0.1rem solid teal;
	cursor: pointer;
}

.page__current {
	border: 0.2rem solid teal;
	font-weight: bold;
}

.navbar {
	height: 3rem;
	width: 100vw;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	background-color: #00CCCC;
}

.navbar__links {
	margin-left: auto;
}
